<main>
  <header>Angular SVG Loaders</header>

  @for (loaderType of loaderTypes; track $index) {
  <section class="flex flex-row items-center justify-center gap-5 p-4">
    <h1>{{ loaderType }} Loaders</h1>

    <div>
      @for (size of sizes; track $index) {
      <ng-container [ngSwitch]="loaderType">
        <nx-angular-svg-audio-loader
          *ngSwitchCase="'Audio'"
          [isLoading]="true"
          [size]="size"
        />
        <nx-angular-svg-ball-triangle-loader
          *ngSwitchCase="'Ball Triangle'"
          [isLoading]="true"
          [size]="size"
        />
        <nx-angular-svg-bars-loader
          *ngSwitchCase="'Bars'"
          [isLoading]="true"
          [size]="size"
        />
        <nx-angular-svg-circles-loader
          *ngSwitchCase="'Circles'"
          [isLoading]="true"
          [size]="size"
        />
        <nx-angular-svg-grid-loader
          *ngSwitchCase="'Grid'"
          [isLoading]="true"
          [size]="size"
        />
        <nx-angular-svg-hearts-loader
          *ngSwitchCase="'Hearts'"
          [isLoading]="true"
          [size]="size"
        />
        <nx-angular-svg-oval-loader
          *ngSwitchCase="'Oval'"
          [isLoading]="true"
          [size]="size"
        />
        <nx-angular-svg-puff-loader
          *ngSwitchCase="'Puff'"
          [isLoading]="true"
          [size]="size"
        />
        <nx-angular-svg-rings-loader
          *ngSwitchCase="'Rings'"
          [isLoading]="true"
          [size]="size"
        />
        <nx-angular-svg-spinning-circles-loader
          *ngSwitchCase="'Spinning Circles'"
          [isLoading]="true"
          [size]="size"
        />
        <nx-angular-svg-tail-spin-loader
          *ngSwitchCase="'Tail Spin'"
          [isLoading]="true"
          [size]="size"
        />
        <nx-angular-svg-three-dots-loader
          *ngSwitchCase="'Three Dots'"
          [isLoading]="true"
          [size]="size"
        />
      </ng-container>
      }
    </div>
  </section>
  }
</main>
